
#Titulo{
    color: #000000;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-left: 45%;
    }

hr {
    margin: 40px 0;
  }
  #search{
    width: 300px;
    margin: 60px auto;
    }
    
    input[type=search]{
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 0px 20px 0px 40px;
    border-radius: 5px;
    outline: none;
    border: solid rgb(211, 210, 210) 1px;
    background: url('Search.png') 7px center no-repeat;
    }
#navegacao{
    color: rgb(95, 97, 95);
    font-weight: lighter;
    font-size:medium;
    font-family:sans-serif;
    padding-left: 15%;
    word-spacing: 20px;
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: inherit;
}
