
#Titulo{
    color: #000000;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-left: 45%;
    }

hr {
    margin: 40px 0;
  }
#navegacao{
    color: rgb(95, 97, 95);
    font-weight: lighter;
    font-size:medium;
    font-family:sans-serif;
    padding-left: 15%;
    word-spacing: 20px;
    
}
#button{
    text-align: right;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: inherit;
}
